/* Home 
---------------------*/
.home-section {
    position: relative;
  }
  .effect-1 {
    position: absolute;
    top: 25%;
    left: 13%;
    max-width: 50px;
    width: 100%;
  }
  @media (max-width: 767px) {
    .home-section .effect-1 {
      display: none;
    }
  }
  .effect-2 {
    position: absolute;
    bottom: 20%;
    right: 13%;
    max-width: 150px;
    width: 100%;
  }
  @media (max-width: 767px) {
    .home-section .effect-2 {
      display: none;
    }
  }
  .effect-3 {
    position: absolute;
    top: 25%;
    left: 14%;
    max-width: 100px;
    width: 100%;
  }
  @media (max-width: 767px) {
    .home-section .effect-3 {
      display: none;
    }
  }
  .home-section .min-vh-100 {
    padding-top: 135px;
    padding-bottom: 50px;
  }
  @media (max-width: 991px) {
    .home-section .min-vh-100 {
      padding-top: 75px;
    }
  }
  @media (max-width: 991px) {
    .home-section .home-intro {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
    }
  }
  .home-section .home-intro h6 {
    margin: 0 0 30px -10px;
  }
  @media (max-width: 767px) {
    .home-section .home-intro h6 {
      margin: 0 0 15px;
    }
  }
  .home-section .home-intro h6 span {
    display: inline-block;
    border: 2px solid $px-dark;
    border-radius: 0px;
    padding: 8px 20px;
    color: $px-dark;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }

  @media (max-width: 767px) {
    .home-section .home-intro h6 span {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  .home-section .home-intro h1 {
    font-size: 70px;
    color: #18171c;
    line-height: 1.1;
    margin: 0 0 25px;
  }
  @media (max-width: 767px) {
    .home-section .home-intro h1 {
      font-size: 50px;
      margin: 0 0 20px;
    }
  }
  .home-section .home-intro p {
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .home-section .home-intro p {
      font-size: 18px;
    }
  }
  .home-section .home-intro .btn-bar {
    padding-top: 20px;
  }
  @media (max-width: 767px) {
    .home-section .home-intro .btn-bar {
      padding-top: 10px;
    }
  }
  @media (max-width: 991px) {
    .home-section .home-image {
      text-align: center;
    }
  }