/* Portfolio 
---------------------*/
.portfolio {
  .portfolio-box {
      border: 2px solid #18171c;
      background: #fff;
      box-shadow: 0 0 0 0 #18171c;
      transition: ease all 0.35s;
  
    .portfolio-box:hover {
      box-shadow: 3px 3px 0 0 #18171c;
    }
    .portfolio-box .portfolio-info {
      border-top: 2px solid #18171c;
      padding: 20px;
      position: relative;
    }
    .portfolio-box .portfolio-info h6 {
      font-size: 20px;
      color: #18171c;
      margin: 0 0 8px;
    }
    .portfolio-box .portfolio-info a {
      width: 40px;
      height: 40px;
      background: $px-theme2;
      color: $px-dark;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 20px;
    }

    .portfolio-overlay {
      text-align: center;
      display: -ms-flexbox !important;
      display: flex !important;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
    @include transition(all 0.3s ease-in-out);
    }
    
    &:hover .portfolio-overlay {
      opacity: 1;
    }
    .portfolio-img img {
    @include transition(all 0.3s ease-in-out);
    }

    &:hover .portfolio-img img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    @include scale(1.03);
    }
    .portfolio-overlay-details {
      width: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .portfolio-details {
    padding: 1.5rem 0;
    text-align: center;
  }
}

.ajax-container {
position: relative;
background: #FFF;
margin: 20px auto;
max-width: 1170px;
}

.project-details-modal .btn-close {
float: right;
}
html[dir="rtl"] .project-details-modal .btn-close {
float: left;
}

.mfp-close-btn-in .ajax-container {
&.bg-dark .mfp-close, &.bg-dark-1 .mfp-close, &.bg-dark-2 .mfp-close, &.bg-dark-3 .mfp-close, &.bg-dark-4 .mfp-close {
  color: #fff;
  opacity: .65;
}
&.bg-dark-0 .mfp-close:hover, &.bg-dark-1 .mfp-close:hover, &.bg-dark-2 .mfp-close:hover, &.bg-dark-3 .mfp-close:hover, &.bg-dark-4 .mfp-close:hover {
  opacity: 1;
}
}

html[dir="rtl"] {
.mfp-content {
  text-align: right;
}
.mfp-close {
  left: 0px;
  right: auto;
}
}


.effect-5 {
  position: absolute;
  bottom: 5%;
  left: 2%;
  max-width: 200px;
  width: 100%;
}
@media (max-width: 767px) {
  .effect-5 {
    display: none;
  }
}

.call-to-action{
  //margin: 55px 0;
  background-color: $px-bk-pink;
  &img {
      position: absolute;
      object-fit: cover;
      //bottom: 50%;
      //right: 50%;
      display: block;
      z-index: 6;
    
    @media (max-width: 767px) {
      img {
        display: none;
      }
    }
  }
}

/**** filter menu ****/
.nav-tabs {
  border-bottom: 2px solid $px-link-orange;
  
  .nav-item .nav-link {
	  border:0;
    background: transparent;
    position: relative;
    border-radius: 0;
	  padding:0.6rem 1rem;
    color: $px-dark;
	  white-space: nowrap !important;
	  cursor: pointer;
    &.active {
      &:after {
        color: $px-link-orange;
        height: 2px;
        width: 100%;
        content: ' ';
        background-color: transparent;
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
		@include translateY(-3px);
      }
      color: $px-link-orange;
    }
	&:not(.active):hover {
      color: $px-link-orange;
    }
  }
  &.flex-column {
    border-right: 1px solid $px-gray;
    border-bottom: 0px;
    padding: 1.5rem 0;
    .nav-item {
      .nav-link {
        border: 1px solid $px-gray;
        border-right: 0px;
        background-color: $px-gray;
        font-size: 14px;
        padding: 0.75rem 1rem;
        color: $px-dark;
      }
      &:first-of-type .nav-link {
        border-top-left-radius: 4px;
      }
      &:last-of-type .nav-link {
        border-bottom-left-radius: 4px;
      }
      .nav-link.active {
        &:after {
          height: 100%;
          width: 2px;
          background: transparent;
          right: -1px;
          left: auto;
        }
        background-color: transparent;
        color: $px-dark;
      }
    }
  }
}

.nav-tabs:not(.flex-column) {
  .nav-item {
    margin-bottom: 0px;
  }
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

@include media-breakpoint-only(xs) {
  .nav-tabs .nav-item .nav-link {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 10px;
	font-size: 0.875rem;
  }
}


/***** optional portfolio *****
**********
.portfolio {
  .portfolio-box {
    position: relative;
    .portfolio-img {
      position: relative;
      overflow: hidden;
    }
    .portfolio-overlay {
      text-align: center;
      display: -ms-flexbox !important;
      display: flex !important;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
	  @include transition(all 0.3s ease-in-out);
    }
    &:hover .portfolio-overlay {
      opacity: 1;
    }
    .portfolio-img img {
		@include transition(all 0.3s ease-in-out);
	}

    &:hover .portfolio-img img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
	  @include scale(1.03);
    }
    .portfolio-overlay-details {
      width: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .portfolio-details {
    padding: 1.5rem 0;
    text-align: center;
  }
}

.ajax-container {
  position: relative;
  background: #FFF;
  margin: 20px auto;
  max-width: 1170px;
}

.project-details-modal .btn-close {
  float: right;
}
html[dir="rtl"] .project-details-modal .btn-close {
  float: left;
}

.mfp-close-btn-in .ajax-container {
  &.bg-dark .mfp-close, &.bg-dark-1 .mfp-close, &.bg-dark-2 .mfp-close, &.bg-dark-3 .mfp-close, &.bg-dark-4 .mfp-close {
    color: #fff;
    opacity: .65;
  }
  &.bg-dark-0 .mfp-close:hover, &.bg-dark-1 .mfp-close:hover, &.bg-dark-2 .mfp-close:hover, &.bg-dark-3 .mfp-close:hover, &.bg-dark-4 .mfp-close:hover {
    opacity: 1;
  }
}

html[dir="rtl"] {
  .mfp-content {
    text-align: right;
  }
  .mfp-close {
    left: 0px;
    right: auto;
  }
}
*****/