/* Portfolio 
---------------------*/
.portfolio-box {
    border: 2px solid #18171c;
    background: #fff;
    box-shadow: 0 0 0 0 #18171c;
    transition: ease all 0.35s;
  }
  .portfolio-box:hover {
    box-shadow: 3px 3px 0 0 #18171c;
  }
  .portfolio-box .portfolio-info {
    border-top: 2px solid #18171c;
    padding: 20px;
    position: relative;
  }
  .portfolio-box .portfolio-info h6 {
    font-size: 20px;
    color: #18171c;
    margin: 0 0 8px;
  }
  .portfolio-box .portfolio-info a {
    width: 40px;
    height: 40px;
    background: $px-theme2;
    color: $px-dark;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  }

  .effect-5 {
    position: absolute;
    bottom: 5%;
    left: 2%;
    max-width: 200px;
    width: 100%;
  }
  @media (max-width: 767px) {
    .effect-5 {
      display: none;
    }
  }