/* Portfolio 
---------------------*/
.portfolio-box {
    border: 2px solid #18171c;
    background: #fff;
    box-shadow: 0 0 0 0 #18171c;
    transition: ease all 0.35s;
  }
  .portfolio-box:hover {
    box-shadow: 3px 3px 0 0 #18171c;
  }
  .portfolio-box .portfolio-info {
    border-top: 2px solid #18171c;
    padding: 20px;
    position: relative;
  }
  .portfolio-box .portfolio-info h6 {
    font-size: 20px;
    color: #18171c;
    margin: 0 0 8px;
  }
  .portfolio-box .portfolio-info a {
    width: 40px;
    height: 40px;
    background: #5c64cf;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  }
  
  .feature-box-03 {
    border: 2px solid #18171c;
    box-shadow: 0 0 0 0 #18171c;
    transition: ease all 0.35s;
    padding: 40px 35px;
    margin-bottom: 35px;
  }
  .feature-box-03:hover {
    box-shadow: 3px 3px 0 0 #18171c;
  }
  .feature-box-03 .feature-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }
  .feature-box-03 .feature-content {
    text-align: center;
    position: relative;
    padding: 30px 0 0;
  }
  .feature-box-03 .feature-content .icons {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    background: #f7af24;
    color: #18171c;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 13px;
  }
  .feature-box-03 .feature-content h6 {
    font-weight: 600;
    color: #18171c;
    margin: 0;
  }
  .feature-box-03 .feature-content span {
    font-size: 14px;
  }