@import "../../../node_modules/slick-carousel/slick/slick";
@import "../../../node_modules/slick-carousel/slick/slick-theme";

// stylelint-disable function-disallowed-list

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Container that the modal scrolls within
.modal {
  // scss-docs-start modal-css-vars
  --#{$prefix}modal-zindex: #{$zindex-modal};
  --#{$prefix}modal-width: #{$modal-md};
  --#{$prefix}modal-padding: #{$modal-inner-padding};
  --#{$prefix}modal-margin: #{$modal-dialog-margin};
  --#{$prefix}modal-color: #{$modal-content-color};
  --#{$prefix}modal-bg: #{$modal-content-bg};
  --#{$prefix}modal-border-color: #{$modal-content-border-color};
  --#{$prefix}modal-border-width: #{$modal-content-border-width};
  --#{$prefix}modal-border-radius: #{$modal-content-border-radius};
  --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-xs};
  --#{$prefix}modal-inner-border-radius: #{$modal-content-inner-border-radius};
  --#{$prefix}modal-header-padding-x: #{$modal-header-padding-x};
  --#{$prefix}modal-header-padding-y: #{$modal-header-padding-y};
  --#{$prefix}modal-header-padding: #{$modal-header-padding}; // Todo in v6: Split this padding into x and y
  --#{$prefix}modal-header-border-color: #{$modal-header-border-color};
  --#{$prefix}modal-header-border-width: #{$modal-header-border-width};
  --#{$prefix}modal-title-line-height: #{$modal-title-line-height};
  --#{$prefix}modal-footer-gap: #{$modal-footer-margin-between};
  --#{$prefix}modal-footer-bg: #{$modal-footer-bg};
  --#{$prefix}modal-footer-border-color: #{$modal-footer-border-color};
  --#{$prefix}modal-footer-border-width: #{$modal-footer-border-width};
  // scss-docs-end modal-css-vars

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--#{$prefix}modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
}



.text-6 {
  font-size: 24px!important;
  font-size: 1.5rem!important;
}


.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

html:not([dir=rtl]) .social-icons li:first-child {
  margin-left: 0;
}

.social-icons li {
  margin: 2px 6px;
  overflow: visible;
  padding: 0; 

  & a {
    color: #4d555a;
    display: block;
    font-size: 18px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    width: 26px;
  }

  & i {
    line-height: inherit; 
  }
}



// Shell div to position the modal with bottom padding

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when there should be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: var(--#{$prefix}modal-padding);
}

// slider, slides, and slider dots
.slick-list {
  display: block;
  position: relative;
  transform: translateZ(0);
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: block;
  position: relative;
}

.slick-slider {
  display: block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  touch-action: pan-y;
  user-select: none;
  transform: translateZ(0);
}

.slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  opacity: 1;
  transform: translate3d(-621px, 0px, 0px);

  &::before, &::after {
      content: "";
      display: table;
      box-sizing: border-box;
  }
  

}


.slick-initialized .slick-slide {
  display: block;
}

.slick-slide {
  padding: 0 12px;
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}
.img-fluid, .img-thumbnail {
  height: auto;
  max-width: 100%;
}
img {
  vertical-align: inherit;
}

.slick-dots{
	position: initial;
	margin-top: 10px;

	li{
		margin:0; 
    width:auto; 
    height:auto;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
		
    button {
		-webkit-backface-visibility: visible;
    backface-visibility: visible;
    border: 1px solid transparent;
    border-radius: 30px;
    display: block;
    height: 20px;
    margin: 5px 3px;
    position: relative;
    transition: all .2s ease;
    width: 20px;
    margin-left: -5px;
    margin-top: -5px;
		  
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "" !important;
        width: 10px;
        height: 10px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        background-color: rgba(0,0,0,.2);
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #0000;
        border-radius: 100%;
        transition: all .5s ease;
			}
		}
		&.slick-active button, li:hover button {
		  border-color: $px-theme;
		  transition:all .5s ease;
		}
		&.slick-active button:before, li:hover button:before{
			background-color: $px-theme;
			transition:all .5s ease;
		}
	}
}


.modal-dialog {
  position: relative;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;
  max-width: 90%;
  padding: 4rem;
  margin-top: 4rem;


  // When fading in the modal, animate it to slide down
  .modal.fade & {
    @include transition($modal-transition);
    transform: $modal-fade-transform;
  }
  .modal.show & {
    transform: $modal-show-transform;
  }

  // When trying to close, animate focus to scale
  .modal.modal-static & {
    transform: $modal-scale-transform;
  }
}


.modal-dialog-scrollable {
  height: calc(100% - var(modal-margin) * 2);

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  display: flex; 
  align-items: center;
  min-height: calc(100% - var(modal-margin) * 2);
}

// Actual modal
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  color: $px-dark;
  pointer-events: auto;
  background-color: white;
  background-clip: padding-box;
  border: var(--#{$prefix}modal-border-width) solid var(--#{$prefix}modal-border-color);
  border-radius: (var(--#{$prefix}modal-border-radius));
  box-shadow: (var(--#{$prefix}modal-box-shadow));
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop { // Required for dismissing modals with the keyboard
  // scss-docs-start modal-backdrop-css-vars
  --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
  --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
  --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};
  position: static;
  // scss-docs-end modal-backdrop-css-vars
}



// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: var(--#{$prefix}modal-header-padding);
  border-bottom: var(--#{$prefix}modal-header-border-width) solid var(--#{$prefix}modal-header-border-color);
  $border-top-radius: (var(--#{$prefix}modal-inner-border-radius));

  .btn-close {
    padding: calc(var(--#{$prefix}modal-header-padding-y) * .5) calc(var(--#{$prefix}modal-header-padding-x) * .5);
    margin: calc(var(--#{$prefix}modal-header-padding-y) * -.5) calc(var(--#{$prefix}modal-header-padding-x) * -.5) calc(var(--#{$prefix}modal-header-padding-y) * -.5) auto;
    border: 0;
    border-radius: 0.375rem;
    box-sizing: initial;
    color: #000;
    height: 1em;
    opacity: .5;
    padding: 0.25em;
    width: 1em;
    //background: transparent url("'http://www.w3.org/2000/svg' viewBox='0 0 16 16' auto no-repeat");
  
    &:hover {
      color: #000;
      opacity: .75;
      text-decoration: none;
    }
  }
}


// Title text within header
.modal-title {
  margin-bottom: 0;
  line-height: var(--#{$prefix}modal-title-line-height);
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when there should be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: 35px;
}

// Footer (for actions)
.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: calc(var(--#{$prefix}modal-padding) - var(--#{$prefix}modal-footer-gap) * .5);
  background-color: var(--#{$prefix}modal-footer-bg);
  border-top: var(--#{$prefix}modal-footer-border-width) solid var(--#{$prefix}modal-footer-border-color);
  $border-bottom-radius: (var(--#{$prefix}modal-inner-border-radius));

  // Place margin between footer elements
  // This solution is far from ideal because of the universal selector usage,
  // but is needed to fix https://github.com/twbs/bootstrap/issues/24800
  > * {
    margin: calc(var(--#{$prefix}modal-footer-gap) * .5); // Todo in v6: replace with gap on parent class
  }
}

// Scale up the modal
.media-breakpoint-up-sm { 
  .modal {
    --#{$prefix}modal-margin: #{$modal-dialog-margin-y-sm-up};
    --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-sm-up};
  }

  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: 90%;
    width: auto;
    margin: 7.75rem;
    ;
  }

  .modal-sm {
    --#{$prefix}modal-width: #{$modal-sm};
  }
}



.modal-xl {
  width: 90%;

  @media (min-width: 1200px) {
    .modal-xl {
  width: 1140px;
  }
}

@media (min-width: 992px){
    .modal-xl {
  width: 800px;
  }
  }
}


.media-breakpoint-up-xl {
  .modal-xl {
    --#{$prefix}modal-width: #{$modal-xl};
  }
}

// scss-docs-start modal-fullscreen-loop

    .modal-fullscreen {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;

      .modal-content {
        height: 100%;
        border: 0;
        @include border-radius(0);
      }

      .modal-header,
      .modal-footer {
        @include border-radius(0);
      }

      .modal-body {
        overflow-y: auto;
      }
    }

// scss-docs-end modal-fullscreen-loop

.ajax-container {
  position: relative;
  background: #FFF;
  margin: 20px auto;
  max-width: 1170px;
  }
  
  .project-details-modal .btn-close {
  float: right;
  }
  html[dir="rtl"] .project-details-modal .btn-close {
  float: left;
  }
  
  .mfp-close-btn-in .ajax-container {
  &.bg-dark .mfp-close, &.bg-dark-1 .mfp-close, &.bg-dark-2 .mfp-close, &.bg-dark-3 .mfp-close, &.bg-dark-4 .mfp-close {
    color: #fff;
    opacity: .65;
  }
  &.bg-dark-0 .mfp-close:hover, &.bg-dark-1 .mfp-close:hover, &.bg-dark-2 .mfp-close:hover, &.bg-dark-3 .mfp-close:hover, &.bg-dark-4 .mfp-close:hover {
    opacity: 1;
  }
  }
  
  html[dir="rtl"] {
  .mfp-content {
    text-align: right;
  }
  .mfp-close {
    left: 0px;
    right: auto;
  }
  }
  

  .bg-dark-1 {
    background-color: #212529!important;
}