/* Portfolio 
---------------------*/
.portfolio {
  .portfolio-box {
      border: 2px solid $px-dark;
      background: #fff;
      box-shadow: 0 0 0 0 $px-dark;
      transition: ease all 0.35s;
      &:hover {
        //box-shadow: 3px 3px 0 0 $px-dark;
        box-shadow: 5px 5px 0 0 $px-dark;
    }
  
    .portfolio-info {
      border-top: 2px solid $px-dark;
      padding: 20px;
      position: relative;   
      h6 {
        font-size: 20px;
        color: $px-dark;
        margin: 0 0 8px;
      }
    
      a {
        width: 40px;
        height: 40px;
        background: $px-theme2;
        color: $px-dark;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 20px;
      }
    }
    
    &:hover .portfolio-overlay {
      opacity: 1;
    }

    .portfolio-overlay {
      text-align: center;
      display: -ms-flexbox !important;
      display: flex !important;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 1);
      opacity: 0;
    @include transition(all 0.3s ease-in-out);

      .portfolio-overlay-details {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    &:hover .portfolio-img img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    @include scale(1.03);
    }
  
    .portfolio-img {
      overflow: hidden;
      position: relative;

      img {
      @include transition(all 0.3s ease-in-out);
      }
    }
  }

  .portfolio-details {
    padding: 1.5rem 0;
    text-align: center;
  }
}

/**** filter menu ****/
.nav-tabs, .nav-tabs:not(.flex-column) {
  flex-flow: wrap;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;

  .nav-item {
    margin-bottom: 0px;
    @include media-breakpoint-only(xs) {
      margin: 10px 0;
    }

    .nav-link {
      border:2px solid $gray-600;
      background: transparent;
      position: relative;
      border-radius: 0;
      padding: 0.6rem 3rem;
      margin: 0 10px;
      color: $gray-600;
      white-space: nowrap !important;
      cursor: pointer;
      font-size: 18px;
      &.active {
        &:after {
          height: 2px;
          width: 100%;
          content: ' ';
          background-color: transparent;
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
      @include translateY(-3px);
        }
        color: $px-black; 
        border: 2px solid $px-black;
      }

      &:not(.active):hover {
        color: $px-black; 
        border: 2px solid $px-black;
      }
    
      @include media-breakpoint-only(xs) {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
        font-size: 1rem;
      }
    }
  }

  &.flex-column {
    .nav-item {
      .nav-link {
        border:2px solid $gray-600;
        padding: 0.6rem 3rem;
        background-color: transparent;
        font-size: 18px;
        color: $gray-600;
      }
      &:first-of-type .nav-link {
        border-top-left-radius: 4px;
      }
      &:last-of-type .nav-link {
        border-bottom-left-radius: 4px;
      }
      .nav-link.active {
        &:after {
          height: 2px;
        width: 100%;
        content: ' ';
        background-color: transparent;
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        }
        background-color: transparent;
        color: $px-black; 
        border: 2px solid $px-black;
      }
    }
  }

  /******** 
  //removing bc consolodating above
  &:not(.flex-column) {
    .nav-item {
      margin-bottom: 0px;
    }
    
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    
    @include media-breakpoint-only(xs) {
      flex-flow: wrap;
      margin: 10px 0;
      .nav-link {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
        font-size: 1rem;
      }
    }
  }
  *******/
}


.bg-light-1 {
	background-color: $bg-light-1;
}


.effect-5 {
  position: absolute;
  bottom: 5%;
  left: 2%;
  max-width: 200px;
  width: 100%;
}
@media (max-width: 767px) {
  .effect-5 {
    display: none;
  }
}

.call-to-action{
  //margin: 55px 0;
  background-color: $px-bk-pink;
  &img {
      position: absolute;
      object-fit: cover;
      //bottom: 50%;
      //right: 50%;
      display: block;
      z-index: 6;
    
    @media (max-width: 767px) {
      img {
        display: none;
      }
    }
  }
}


/***** OLD/PREVIOUS VERSION: optional portfolio layout *****
**********
.portfolio {
  .portfolio-box {
    position: relative;
    .portfolio-img {
      position: relative;
      overflow: hidden;
    }
    .portfolio-overlay {
      text-align: center;
      display: -ms-flexbox !important;
      display: flex !important;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
	  @include transition(all 0.3s ease-in-out);
    }
    &:hover .portfolio-overlay {
      opacity: 1;
    }
    .portfolio-img img {
		@include transition(all 0.3s ease-in-out);
	}

    &:hover .portfolio-img img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
	  @include scale(1.03);
    }
    .portfolio-overlay-details {
      width: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .portfolio-details {
    padding: 1.5rem 0;
    text-align: center;
  }
}

.ajax-container {
  position: relative;
  background: #FFF;
  margin: 20px auto;
  max-width: 1170px;
}

.project-details-modal .btn-close {
  float: right;
}
html[dir="rtl"] .project-details-modal .btn-close {
  float: left;
}

.mfp-close-btn-in .ajax-container {
  &.bg-dark .mfp-close, &.bg-dark-1 .mfp-close, &.bg-dark-2 .mfp-close, &.bg-dark-3 .mfp-close, &.bg-dark-4 .mfp-close {
    color: #fff;
    opacity: .65;
  }
  &.bg-dark-0 .mfp-close:hover, &.bg-dark-1 .mfp-close:hover, &.bg-dark-2 .mfp-close:hover, &.bg-dark-3 .mfp-close:hover, &.bg-dark-4 .mfp-close:hover {
    opacity: 1;
  }
}

html[dir="rtl"] {
  .mfp-content {
    text-align: right;
  }
  .mfp-close {
    left: 0px;
    right: auto;
  }
}
*****/